.contact-button {
	display: flex;
	padding: 10px 16px;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	background: #f4ffe2;
	color: var(--primary, #85c123);

	font-size: 1.8rem;
	font-style: normal;
	font-weight: 600;
}
.contact-button:hover {
	background: #deffa7;
}
